.d-flex {
  display: flex;
}

.column  {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.space-btw {
  justify-content: space-between;
}

.p-20 {
  padding: 20px;
}

.grow1 {
  flex: 1;
}

.item {
  padding: 20px;
  background-color: #f5f5f5;
  cursor: pointer;
  margin: 10px;
  width: 100px;
}

.item:hover {
  background-color: #e3e3e3;

}

.item div {
  margin-bottom: 5px;
}

.color {
  height: 10px;
}

a {
  margin: 20px;
}

.char {
  width: 400px;
}

.charWrapper {
  position: relative;
}

.slot {
  background-color: #d2d2d2;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  position: absolute;
  overflow: hidden;

}
.slot img {
  height: 100%;
  width: 100%;
}


.headSlot {
  left: 100px;
  top: 20px
}

.shoulderSlot {
  left: 250px;
  top: 70px
}

.chestSlot {
  left: 150px;
  top: 120px
}

.handsSlot {
  left: 80px;
  top: 200px
}

.legsSlot {
  left: 250px;
  top: 280px
}